.booking-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.booking-page .div-3 {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1025px;
  position: relative;
}

.booking-page .navigation-header-2 {
  position: absolute;
  width: 1442px;
  height: 80px;
  top: 1px;
  left: 0;
}

.booking-page .overlap-group-3 {
  position: relative;
  width: 1440px;
  height: 80px;
  background-color: #ffffff;
}

.booking-page .divider-3 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 79px;
  left: 0;
  background-color: #e5e5e5;
}

.booking-page .HMS {
  position: absolute;
  top: 20px;
  left: 688px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .text-wrapper-21 {
  color: #3252df;
}

.booking-page .text-wrapper-22 {
  color: #152c5b;
}

.booking-page .title {
  position: absolute;
  width: 377px;
  height: 82px;
  top: 241px;
  left: 534px;
}

.booking-page .text-wrapper-23 {
  position: absolute;
  width: 325px;
  top: 58px;
  left: 31px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #b0b0b0;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .text-wrapper-24 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #152c5b;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .item-9 {
  position: absolute;
  width: 421px;
  height: 316px;
  top: 403px;
  left: 220px;
}

.booking-page .pic-4 {
  position: absolute;
  width: 420px;
  height: 270px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/E3pKTTmP/img/rectangle-3-4@2x.png);
  background-size: cover;
  background-position: 50% 50%;
}

.booking-page .group-3 {
  position: absolute;
  width: 425px;
  height: 30px;
  top: 286px;
  left: 0;
}

.booking-page .text-wrapper-25 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #152c5b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .text-wrapper-26 {
  position: absolute;
  top: 3px;
  left: 311px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #b0b0b0;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .vector {
  position: absolute;
  width: 3px;
  height: 309px;
  top: 402px;
  left: 720px;
}

.booking-page .overlap-4 {
  position: absolute;
  width: 275px;
  height: 60px;
  top: 131px;
  left: 580px;
}

.booking-page .stepper {
  position: absolute;
  width: 275px;
  height: 60px;
  top: 0;
  left: 0;
}

.booking-page .overlap-5 {
  position: relative;
  width: 277px;
  height: 60px;
}

.booking-page .vector-2 {
  position: absolute;
  width: 222px;
  height: 1px;
  top: 30px;
  left: 31px;
  object-fit: cover;
}

.booking-page .item-10 {
  position: absolute;
  width: 62px;
  height: 60px;
  top: 0;
  left: 0;
}

.booking-page .overlap-group-4 {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid;
  border-color: #e5e5e5;
}

.booking-page .ellipse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 4px;
  left: 4px;
  background-color: #e5e5e5;
  border-radius: 25px;
}

.booking-page .text-wrapper-27 {
  position: absolute;
  top: 11px;
  left: 25px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #898989;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .overlap-wrapper {
  position: absolute;
  width: 52px;
  height: 50px;
  top: 5px;
  left: 115px;
}

.booking-page .overlap-6 {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #e5e5e5;
  border-radius: 25px;
}

.booking-page .text-wrapper-28 {
  position: absolute;
  top: 7px;
  left: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #898989;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .item-11 {
  position: absolute;
  width: 52px;
  height: 50px;
  top: 5px;
  left: 225px;
}

.booking-page .ellipse-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #1abc9c;
  border-radius: 30px;
}

.booking-page .vector-3 {
  position: absolute;
  width: 29px;
  height: 19px;
  top: 20px;
  left: 17px;
}

.booking-page .btn-secondary {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: 50px;
  top: 925px;
  left: 570px;
  background-color: #f5f6f8;
  border-radius: 4px;
}

.booking-page .text-wrapper-29 {
  position: absolute;
  width: 221px;
  top: 8px;
  left: 40px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.6px;
}

.booking-page .input {
  position: absolute;
  width: 324px;
  height: 80px;
  top: 403px;
  left: 794px;
}

.booking-page .text-wrapper-30 {
  position: absolute;
  width: 288px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #152c5b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27.2px;
}

.booking-page .overlap-7 {
  position: absolute;
  width: 322px;
  height: 45px;
  top: 35px;
  left: 0;
}

.booking-page .rectangle-4 {
  position: absolute;
  width: 320px;
  height: 45px;
  top: 0;
  left: 0;
  background-color: #f5f6f8;
  border-radius: 4px;
}

.booking-page .text-wrapper-31 {
  position: absolute;
  width: 195px;
  top: 9px;
  left: 63px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #152c5b;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27.2px;
}

.booking-page .btn-minus {
  position: absolute;
  width: 47px;
  height: 45px;
  top: 0;
  left: 0;
}

.booking-page .overlap-group-5 {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #e74c3c;
  border-radius: 4px;
}

.booking-page .text-wrapper-32 {
  left: 18px;
  position: absolute;
  width: 12px;
  top: 5px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .btn-plus {
  position: absolute;
  width: 47px;
  height: 45px;
  top: 0;
  left: 275px;
}

.booking-page .overlap-8 {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #1abc9c;
  border-radius: 4px;
}

.booking-page .text-wrapper-33 {
  left: 17px;
  position: absolute;
  width: 12px;
  top: 5px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.booking-page .input-2 {
  position: absolute;
  width: 324px;
  height: 80px;
  top: 507px;
  left: 794px;
}

.booking-page .overlap-9 {
  position: absolute;
  width: 320px;
  height: 45px;
  top: 35px;
  left: 0;
  background-color: #f5f6f8;
  border-radius: 4px;
}

.booking-page .ic-calendar {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  background-color: #152c5b;
  border-radius: 4px;
}

.booking-page .ic-calendar-2 {
  position: absolute;
  width: 25px;
  height: 27px;
  top: 9px;
  left: 10px;
}

.booking-page .you-will-pay-USD {
  position: absolute;
  width: 324px;
  top: 621px;
  left: 794px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 40.8px;
}

.booking-page .text-wrapper-34 {
  font-weight: 300;
  color: #b0b0b0;
}

.booking-page .text-wrapper-35 {
  font-weight: 500;
  color: #152c5b;
}

.booking-page .component {
  position: absolute;
  width: 323px;
  height: 58px;
  top: 840px;
  left: 558px;
  background-color: #003cfb;
  border-radius: 10px;
}

.booking-page .register-2 {
  position: absolute;
  height: 36px;
  top: 10px;
  left: 102px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #f9f9f9;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
